[submodule "receiver"]
	path = receiver
	url = https://github.com/fchauvel/receiver.git
[submodule "storage"]
	path = storage
	url = https://github.com/fchauvel/storage.git
[submodule "tests/tester"]
	path = tests/tester
	url = https://github.com/fchauvel/tester.git
[submodule "registry"]
	path = registry
	url = https://github.com/fchauvel/registry
