#
# Run the integration tests automatically
#

sudo: required

language: pyhton

services:
  - docker

python:
  - 3.6


before_script:
  - cd tests
  - docker-compose build --no-cache
  - docker-compose up --no-build -d
  - sleep 30

script:
  - docker-compose run tests sensapp-tester -o storage-db -s data/sensors.yml

after_script:
  - docker-compose down
