#
# Run the integration tests automatically
#

sudo: required

services:
  - docker

before_script:
  - cd tests
  - docker-compose -f smoke-test.yml up -d
  - sleep 30

script:
  - docker-compose run tests sensapp-tester -o storage-db -s data/sensors.yml

after_script:
  - docker-compose down
